@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');
html,
body {
    width: 100vw;
    height: 100vh;
    max-width: 414px;
    max-height: 650px;
    margin: auto;
    font-family: 'Roboto', 'Hind Siliguri', sans-serif;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.hero {
    width: 100%;
    height: 35%;
    position: relative;
}

.hero-img {
    z-index: 1;
    width: 100%;
    position: absolute;
    /* bottom: 105px; */
    bottom: 0;
}

.hero-items {
    text-align: center;
    z-index: 2 !important;
    position: absolute;
    width: 100%;
    /* top: -30%; */
    top: 20%;
}

.hero-items .renata {
    width: 20%;
    height: auto;
    background-color: transparent;
    padding-bottom: 1rem;
}

.hero-items .live-check {
    width: 40%;
    height: auto;
    background-color: transparent;
    padding-bottom: 1rem;
}

.hero-items .mark {
    width: -30%;
    /* width: 30%; */
    height: auto;
    background-color: transparent;
    padding-bottom: 1rem;
}

.content {
    position: relative;
    height: 65%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.item {
    margin: 0px 10px;
    text-align: center;
    display: inline-block;
}

.item img {
    height: 28px;
    padding-bottom: 5px;
}

.item p {
    margin: 0px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
}

.content {
    display: block;
    text-align: center;
}

.content-box {
    padding-top: 5%;
}

.content-box input {
    /* font-size: 18px; */
    padding: 10px 20px;
    margin: 10px;
    -webkit-appearance: none;
    display: block;
    background: #ffffff;
    color: #747474;
    width: 65%;
    text-align: center;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid#000000;
    font-size: 19px;
    line-height: 23px;
}

.content-box input:focus {
    outline: none;
}

.content-box h6 {
    font-weight: 900;
}

.content-box .info {
    margin-top: 15px;
}

.content-box .info .bold-title {
    font-weight: 900;
}

.content-box .info p {
    font-size: 12px;
    font-weight: 500;
    line-height: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .warning {
    display: flex;
    text-align: start;
    margin: auto;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    background-color: #fee93b;
}

.content-box .warning p {
    line-height: 1.3;
    font-size: 12px;
    font-weight: 500;
    /* width: 250px; */
    color: black;
    margin: 0px;
}

.content-box .warning img {
    margin-left: 10px;
    margin-bottom: 10px;
}

.content-box .btnlng {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    width: 70px;
    padding: 5px;
    border: 0px;
    border-radius: 100px;
    /* background: linear-gradient(354.07deg, #FC924C 36.05%, #FFFFFF 233.47%); */
    background: #fc924c;
}

.content-box .btnverify {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    width: 120px;
    padding: 8px;
    border: 0px;
    border-radius: 100px;
    background-color: #fc924c;
    /* background: #FC924C; */
    /* background-color: linear-gradient(356.3deg, #FC924C 31.69%, #FFFFFF 208.06%); */
}

.content-box .btncommon {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    width: 120px;
    padding: 8px;
    border: 0px;
    border-radius: 100px;
    /* background: linear-gradient(354.07deg, #FC924C 36.05%, #FFFFFF 233.47%); */
    background: #fc924c;
}

.content-box .btncommon:focus,
.content-box .btnlng:focus,
.content-box .btnverify:focus {
    outline: none;
    /* visibility: hidden; */
}