.bg-style
{
    background-color: #0059A9;
    background-image: url("../../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
@media only screen and (max-width: 450px) {
    .bg-style
    {
        background-color: #0059A9;
        background-image: url("../../images/bg_mobile2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}

.mups
{
    background-color: #aa2200;
    background-image: url("../../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
@media only screen and (max-width: 450px) {
    .mups
    {
        background-color: #aa2200;
        background-image: url("../../images/bg_mobile2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}

.navbar-darker{
    background-color: #004787;
}

html 
{
    scroll-behavior: smooth;
}